@import 'globals/reset'

// Fonts
@import url('http://fonts.googleapis.com/css?family=Roboto');

// Plugins
@import 'plugins/grider'

// Mixins
@import 'mixins/*'

// Components
@import 'components/card'
@import 'components/nav'

body
    padding-top 60px
    background #f7f7f7
    font-family 'Roboto', sans-serif
