/*
	Desktop Nav
*/
nav
	height 50px
	background #2b5c7c
	position fixed
	width 100%
	top 0
	box-shadow 0px 0px 5px #797979
	
	.nav-content
		@extends $container
		
	.nav-brand
		float left
		color #ffffff
		font-size 19px
		line-height 50px
		margin-left 8px

	ul
		float right
		margin 0
		padding 0
		list-style-type none

		li
			display inline
			
			a
				color #ffffff
				text-decoration none
				display inline-block
				margin-bottom 1px
				padding 17px
				transition 0.2s

		li:hover a
			background #ffffff
			color #2b5c7c
			
	.nav-mobile-bt
		display none
		
/*
	Mobile Nav
*/
@media (max-width 500px)
	nav	
		.nav-mobile-bg
			display none
			z-index 1000
			position fixed
			background rgba(79, 79, 79, 0.59)
			width 100%
			height 100%
			top 0
			left 0
		ul.nav-items
			z-index 10000
			position fixed
			left -220px
			width 200px
			height 100%
			background #2b5c7c
			padding-top 15px
			transition all 0.2s ease 0s
			box-shadow -5px 0px 20px #474747
			
		ul li, ul li a
			display block
			
		.nav-mobile-bt
			position absolute
			z-index 10000
			cursor pointer
			display block
			font-size 24px
			margin-left 7px
			width 25px
			margin-top 11px
		
		.nav-brand
			display block
			z-index 1000
			margin-left 0
			text-align center
			width 100%
			position absolute
			left 0
			top 0

	nav.nav-mobile-open
		ul.nav-items
			left 0px
		.nav-mobile-bg
			display block